@import 'libs/bootstrap';

.card {
  --bs-card-height: 100%;
}

.card-title > a,
.card-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.card-title {
  > a {
    height: 48px;

    -webkit-line-clamp: 2;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
    }
  }
}

.card-text {
  height: 72px;

  -webkit-line-clamp: 3;
}
