@import 'libs/bootstrap';

.card {
  --bs-card-height: 100%;
}

.card-title {
  a {
    &::before {
      content: '';
      position: absolute;
      inset: 0;
    }
  }
}

.card-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;

  text-overflow: ellipsis;

  -webkit-line-clamp: 3;
}
